<div id='rules_intro_container' class='fsb_container large_container round'>	
	<h1>FSB Guide</h1>
	<p>
		This page is here to help you with any questions you
		may have about how to use the Fantasy Sports Book.  You
		will find instructions on how to start a league, how to place bets, 
		and an overview of some of the features you will find on the site.  
	</p>
	<p>
		If you have additional questions that are not answered here
		then please email us at fsb.adm.eph@gmail.com.  Or you can 
		click on the 'Contact Us' link at the bottom of the page.
	</p>
	<p>
		And if you have any comments or feedback for the site please
		email us!  If there are features you'd like to see added or 
		ways we can improve then let us know!
	</p>
</div>
<div id='game_objective_container' class='fsb_container large_container round'>
	<h1>Objective</h1>
	<p>
		Your goal is simple: end the season with more credits than anyone 
		else in your league.  The way to earn credits is described in the	
		sections below.  
	</p>
	<p>
		This site is free!  No money is exchanged with this site so if your 
		league has monetary buy ins, buy backs and payouts then it is up to 
		your league	manager (or someone responsible)  to handle financial 
		transactions.
	</p>
	<p>
		You can create a league by clicking on the 'Create' link from the
		user homepage or from the 'Create League' link at the top of the page.
		You will then need to choose a league name and password and choose
		the settings for your league.  Currently you will have to give 
		the league name and password to people you want to join the league.
		Eventually you will be able to include the emails of your league members
		when you create the league and they will receive an email inviting them 
		to sign up.  To join the league	click on the 'Join' link from the user
		home page or the 'Join League' link	at the top of the page.  Enter the 
		league name and password and you are in!
	</p>
	<p>
		You access your league home page from your user page.  Once you sign in
		you will be redirected to your user page.  On the user page you will see
		some information about your profile along with a list of the leagues
		to which you belong.  Click on the league and you will be directed to the 	
		league page.
	</p>
	<p>
		Your league manager will decide how many credits each player starts 
		out with.  The league manager also decides how many credits are up
		for grabs in the head to head (a.k.a. h2h) portion of the league.  More
		on h2h bets below.  And your manager also will choose if you are allowed
		to buy back into your league (and how many times you can buy back in).  
		If you buy back you will be given a new set of credits (the same amount 
		as when you started the league).  
	</p>
	<p>
		Note that if your credit total has become negative because you have lost
		h2h matchups then when you buy back in those negative credits are subtracted
		from the buy back total.
	</p>
</div>
<div id='betting_explanation_container' class='fsb_container large_container round'>
	<h1>Betting</h1>	
	<p>
		On the 'League Home' page there is a section called 'Games.'  In this
	  section you will see all of the games for which betting is open.  If
		a game has already started then you will not be able to bet on it.
	</p>
	<p>
		For each available game the game time is displayed (in EST), the teams 
		involved are shown and the available bets are shown.  Currently there
		are two types of bets available for each game: the sread and the
		over/under.  In the future we will add the moneyline as well.
	</p>
	<p>
		When betting the spread you can either 'lay' or 'take' the points.  If
		you select a negative value then you are 'laying' that amount (also known
		as 'laying the points' or 'giving the points').  Conversely, if you select
		a positive value then you are 'taking' that amount ('taking the points').
		If you lay the points that means you think the team will win by more than 
		that amount.  If you take the points you think that team will not lose by
		that amount (or more).  
	</p>
	<p>
		When betting the over/under you are speculating on the total points
		scored in the game.  If you bet the over you think that the total 
		points scored will be more than the over/under amount.  And, as I'm sure
		you've figured out, if you bet the under you think that the total 
		points scored will be less than the over/under amount.
	</p>
	<p> Let's look at an example... </p>
	<p>
		Let's say the Lions are playing the Packers.  The Lions are the away
		team and the Packers are the home team.  So the game will say 'Detroit
		Lions @ Green Bay Packers.'  Let's say that the Lions are favored by 3.5
		points and that the over/under is 45 points.  
		</br>		
		--- The number in the second column next to the Lions will say '-3.5 lay' 
		and the number next to the Packers will say '+3.5 take.'
		</br>
		--- The next column will show 45 points and allow you to select 'over' or
		'under.'
		</br> 
		--- If you think the Lions are going to win by more than 3.5 points than
		you should select the 'lay' button.  If you think the Packers will lose
		by less than 3.5 points (or win) than you should select the 'take' button.
		If you think the total score will be more than 45 points than select 'over',
		and if you think it will eb less than 45 points than select 'under.'
	</p>
</div>
<div id='house_bet_explanation_container' class='fsb_container large_container round'>
	<h1>House Bets</h1>	
	<p>
		When you select a bet you will see that bet show up in the 'Bet Slip' section
		of the page.  The bet includes a box for you to input your bet amount.  After
		you input a bet amount you will see the 'To Win' amount update by 95% of your bet.
		You must have sufficient credits to cover your bet or the bet will not be placed.
		In a standard 'house bet' you lose 5% of the bet to the house, win or lose.  Those
		casinos didn't build themselves...
	</p>
	<p>
		You can select more bets and have them added to your bet slip.  The 'Total Risk' at
		the bottom of the bet slip sums up all of your bets.  When you are ready to place
		your bet hit the 'Place Bets' button.  You can clear the slip with the 'Clear Bets'
		button.  You can also remove an individual bet from the bet slip by clicking the 'x'
		button inside the bet.
	</p>
	<p>
		The 'P' button inside the bet is for parlay bets.  A parlay bet is when you string
		together multiple bets.  For the parlay to win all of the bets in the parlay must
		be right.  So if you have a parlay where you have taken the points and bet the over
		than both must occur for you to win.  
	</p>
	<p>
		The advantage of a parlay is that the payout goes up by a factor of two for each 
		bet added.  So a single bet pays out 95% of the amount risked.  A two-bet parlay
		pays out 2*95% and a three-way parlay pays out 4*95%.  You can see that the potential
		payout can be huge for parlay bets, but the odds that you will get all of your bets
		correct is also much lower.
	</p>
	<p>
		The 'L' button in the bet is for your locks.  These are discucsed below.
</div>	
<div id='lock_bet_explanation_container' class='fsb_container large_container round'>
	<h1>Weekly Matchups and Locks</h1>	
	<p>
		Each week you will be playing someone else in your league in a head to head matchup.
		You win the matchup by getting more 'locks' correct than your opponent.  If you win
		than you get some of your opponents credits!  The amount you win is set by your
		manager when he/she created the league.
	</p>
	<p>
		The 'locks' you select each week should be the bets that you are most confident in.
		You can select up to 5 locks per week.  You select a lock by selecting a bet and
		then clicking the 'L' button on the bet.
	</p>
	<p>
		You can see the status of your weekly matchups from the 'Matchups' page.
	</p>
</div>
<div id='site_functionality_explanation_container' class='fsb_container large_container round'>
	<h1>Site Features</h1>	
	<p>
		Releasing Buy In and Buy Backs Credits:  There are buttons in your profile on the 
		league home page (upper left section of the page) that allow you to get your credits.
		These buttons will not be active until your league manager sets them for you
		(managers - this is done from the 'Admin' page that only you can see).
	</p>
	<p>
		The league home page provides information about how many credits you have and your
		rank in the league.  In addition to the league home page you can visit the 'Matchups'
		page and the 'Bet History' page for some additional features.
	</p>
	<p>
		Matchups Page: Here you will find information about your weekly head to head
		matchups.  You can see your locks for each week along with the locks of the rest of 
		the league.  You can click the buttons in the middle of the page to look at other
		weeks.  You can click the individual matchup to see the locks that were chosen.
	</p>
	<p>
		Bet History Page: Here you will find all of the bets that you have placed throughout
		the year.  You can sort the bets by amount or by date.  You can also look at the
		bets from the other members of the league by clicking on their name.  You can click
		the 'Games' button to look at the bets placed for each game (as well as see the status
		of that game). 
	</p>
	<p>
		The page also includes some statistics on your bet performance along with a graph
		that tracks the performance of your league throughout the season.
	</p>
	<p>
		Bet Coloring: You will only see bets for games in the future if they are your bets.  
		The locks and house bets that your fellow league mates have made will not be visible
		to you until the game has started.  Bets for games in the future will be colored blue,
		bets that are currently losing (or have lost) will be colored red, and bets that are
		winning (or have won) will be colored green.
	</p>
	<p>	
		System requirements:  The site requires javascript and cookies.  If things aren't
		working like you expected make sure these are enabled.  If you are unsure how to
		enable javascript and cookies in your browser then ask Google, or Al Gore.  We 
		recommend Firefox for the browser but all browsers should work.
	</p>
	<p>
		We're always looking for fun new features to add to the site.  If there is something
		that you would like to see in the future please email us and let us know!
	</p>
</div>
