/* Sign in page */

h2.sign_in {
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 0px;
}

a.new_user {
    color: #0000FF;
    font-size: 1em;
    margin: 5px;
    padding-left: 150px;
    width: 220px;
    height: 25px;
}

form.sign_in_form {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px;
    width: 230px;
/*  height: 150px;  */
    display: block;
    border-color: #511;
    border-width: 1px;
    border-style: solid;
    background-color: #DEF

}

form.sign_in_form.sign_up {
/*  height: 235px; */
    width: 335px;
}

div {
    margin: 5px;
}

div.actions {
    padding-top: 5px;
    padding-left: 140px;
}

div.sign_in_left {
    margin: 0 600px 0 0;
}

div.sign_in_right {
    float: right;
    width: 600px;
    padding-top: 20px;
}

div.sign_in_container {
    max-width: 1280px;
    min-width: 1280px;
    width: auto;
    mragin: 50px;
    padding: 50px;
}

.site_banner div.sign_in_container {
    border-width: 2px;
}

/* Navigation */

nav {
    float: right;
}

nav {
    background-color: white;
    padding: 0 0.7em;
    white-space: nowrap;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;
}

nav ul li a {
    padding: 0 5px;
    font-weight: bold;
}

nav ul li a:visited {
    color: #09c;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Site Banner */
div.site_banner {
    height: 75px;
    padding: 1px 15px;
}

div.site_banner div.sign_in_container {
    padding: 0px;
    background-color: #DEF
}

div.site_banner div.sign_in_right {
    padding: 15px;
    width: 500px;
}

div.site_banner div.sign_in_left {
    padding: 15px;
    font-family: fantasy;
    font-style: italic;
    font-variant: small-caps;
}

div.site_banner h1 {
    vertical-align: middle;
    margin: 0px;
}

.round {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
}

/* Bets */

.bets_container {
    max-width: 540px;
    min-width: 540px;
    min-height: 614px;
    max-height: 614px;
    position: absolute;  top: 140px;  left: 390px;
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    background-color: #F4F0EC; /*isabelline*/
}

.bets_container p {
    margin: 10px 0px 0px 15px;
}

.header {
    border-bottom: 1px solid #555;
    min-height: 40px;
    max-height: 40px;
}

.large {
    font-size: 2.2em;
    line-height: inherit;
    margin-bottom: inherit;
}

#game_info .header {
    min-height: 25px;
    max-height: 25px;
    border-bottom: 2px solid #555;
}

.header h2 {
    max-height: 30px;
    vertical-align: middle;
}
.content {
    overflow-y: auto;
    min-height: 555px;
    max-height: 555px;
    margin-right: 0px;
    margin-left: 0px;
}

.bet {
    background-color: #DEF;
    padding: 10px;
    white-space: nowrap;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    width: 500px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(0, 112, 255);
    
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}

.bet p {
    margin: .25em;
}
.bet .bet_lock {
    float: left;
    padding: 15px 15px 15px 5px;
    
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
}

.bet .bet_matchup  {
    float: left;
    width: 180px;
    padding: 5px 0px 0px 15px;
    margin: 0px;
}

.bet .bet_spread {
    float: left;
    padding: 0px 0px 0px 0px;
    width:  120px;
}

.bet .bet_spread p {
    padding: 5px 1px;
}

.bet .spread_label {
    float: left;
    margin: 2px;
}

/*.spread p {
    margin: .5em;
    
}*/

.bet .bet_checkbox {
    float: left;
    margin-top: 0px;
}

.bet .bet_over_under {
    float: left;
    padding: 15px;
    width: 125px;

}

.bet a:visited {
    color: #09c;
}

.bet a:hover {
    text-decoration: underline;
}

/* Profile Container*/

.profile_container {
    max-width: 350px;
    min-width: 350px;
    min-height: 300px;
    max-height: 300px;
    position: absolute;  top: 140px;  left: 25px;
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    background-color: #F4F0EC; /*isabelline*/
}

.profile_container pre {
    line-height: .9;
}

.profile_sub_container {
    min-width: 160px;
    max-width: 160px;
    min-height: 130px;
    max-height: 130px;
    float: left;
    overflow: hidden;
}

.profile_sub_container.short {
    min-height: 120px;
    max-height: 120px;
}

.profile_sub_container.right_side{
    font-size: 120%;
}

.profile_sub_container.bottom {
    min-width: 338px;
    max-width: 338px;
    min-height: 100px;
    max-height: 100px;
}

.profile_sub_container p {
    margin: 12px 1px;
}

.profile_sub_container pre {
    margin: .5em 0em;
    font-family: sans-serif;
}

/* League Standings */
#league_standings_container{
    max-width: 350px;
    min-width: 350px;
    min-height: 300px;
    max-height: 300px;
    position: absolute;  top: 455px;  left: 25px;
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    background-color: #F4F0EC; /*isabelline*/
}

#league_standings_container .content{
    min-height: 244px;
    max-height: 244px;
    width: auto;
}

#league_standings_list {
    margin: 15px 10px;
}

#league_standings_list li {
    margin: 4px 0px;
    font-size: 120%;
    height: 50px;
    padding: 2px 0px;
}

#league_standings_list li.games {
    height: 100px;
    
}

#league_standings_list li pre {
    margin: 15px 10px 0px 70px;
    font: monospace;
}

#league_standings_list li.games pre {
    margin: 0px 0px 0px 0px;
}

#league_standings_list li img {
    max-width: 58px;
    min-height: 48px;
    overflow: hidden;
    float: left;
    margin-left: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#locks_container {
    max-width: 350px;
    min-width: 350px;
    min-height: 300px;
    max-height: 300px;
    position: absolute;  top: 140px;  left: 945px;
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    background-color: #F4F0EC; /*isabelline*/
}

#bet_slip_container {
    max-width: 350px;
    min-width: 350px;
    min-height: 300px;
    max-height: 300px;
    position: absolute;  top: 455px;  left: 945px;
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    background-color: #F4F0EC; /*isabelline*/
}

#bet_slip_container p {
    padding: 5px 0px 0px 5px;
    margin: 1px;
    border-top: 1px dashed #000;
}

#league_info_container {
    border: #000 solid 2px;
    min-width: 1280px;
    max-width: 1280px;
    min-height: 680px;
    max-height: 680px;
    margin: 0px 20px;
    background-color: #DEF;
}

.league_container {
    width: 414px;
    height: 620px;
    background-color: #F0EAD6;
}

#bet_slip_container .content {
    max-height: 170px;
    min-height: 170px;
    overflow: auto;
}

.bet_history_container {
    max-width: 350px;
    min-width: 350px;
    min-height: 300px;
    max-height: 300px;
    position: absolute;  top: 455px;  left: 945px;
    border-color: #000;
    border-width: 2px;
    border-style: solid;
    background-color: #F4F0EC; /*isabelline*/
}

.bet_time {
    padding: 5px 0px 0px 5px;
    margin: 1px;
    border-top: 1px dashed #000;
}

.bet_history_container .content {
    max-height: 245px;
    min-height: 245px;
    overflow: auto;
}

#list .content {
    overflow: auto; 
}

#bet_slip_container .footer {
    max-height: 30px;
    min-height: 30px;
    border-top: 1px solid #555;
}

.footer .footer_container {
    margin: 4px;
    font-size: large;
    float: left;
    border: none;
}

.footer p {
    border: none !important;
}

.footer2 input {
	height: 30px;
	width: 150px;
	margin: 2px 10px;
}

#total_risk {

}

#total_win {

}

.new_bet {
    min-height: 50px;
    max-height: 50px;
    min-width: 310px;
    max-width: 310px;
    color: #FFF;
    background-color: rgb(0, 112, 255);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.bet_top {
    margin: 3px 5px 2px 5px;
    min-height: 20px;
    font-size: .9em;
}

.bet_bottom {
    margin: 5px 5px 0px 5px;
    min-height: 20px;
    font-size: .9em;
}

.bet_bottom label {
    font-weight: normal;
}

.new_bet .bet_bottom div {
    width: 98px;
    margin: 0px;
}

.no_pad {
    padding: 0px;
}

.no_margin {
    margin: 0px;
}

.bet_button {
    width: 30px;
    height: 20px;
}

.pad_left {
    padding-left: 3px;
}

.pad_top {
    padding-top: 2px;
}

.bet_divider {
    min-height: 1px;
    border-bottom: 1px solid #555;
    margin: 0px;
}

.games .bet_divider {
    margin: 0px 30px;
}

.bet_top ul{
    margin: 0px;
    padding: 0px;
}

.bet_top li{
    list-style-type: none;
    display: inline-block;
}

.list_left {
    float: left;
}

.list_right {
    float: right;
}

.list_right pre{
    margin: 0;
}

.bet_bottom .left {
    float: left;
    margin: 0px;
}

.bet_bottom .right {
    float: right;
    margin: 0px;
}

#bet_risk {
    margin: 0px 10px;
    max-width: 100px;
}

#league_header h1 {
    text-align: center;
    margin-left: 40px;
    margin-bottom: .2em;
    float: left;
}

#league_header pre {
    float: left;
}

#league_header a {
    font-size: 2.5em;
    text-decoration: underline;
    margin: 4px 10px 0px 10px;
    float: right;
    font-size: 1.2em;
}

#league_header {
    margin: 0px;
    padding-top: 4px;
    border-bottom: 1px solid #000;
    min-height: 43px;
}

.bet.open_bet {
    font-size: 1.5em;
}

.open_bet .bet_top {
    min-height: 30px;
}

.bet_history_container .open_bet {
    min-height: 50px;
    max-height: 50px;
    min-width: 310px;
    max-width: 310px;
    color: #FFF;
    background-color: rgb(0, 112, 255);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font-size: 1em;
}

.bet_history_container .bet_top {
    max-height: 20px;
    min-height: 20px;
}

.false {
    background-color: rgb(255, 0, 0) !important;
}

.true {
    background-color: rgb(0, 127, 0) !important;
}

.future {
    background-color: rgb(128, 128, 126) !important;
}

.large_font {
    font-size: large
}
.user_home_container .profile_container {
    min-height: 190px;
    max-height: 190px;
    top: 95px; left: 195px;
}

.user_home_container .user_leagues {
    position: absolute; top: 95px; left: 555px;
    min-height: 190px;
    max-height: 190px;
    min-width: 600px;
    max-width: 600px;
    overflow: auto;
}

.user_home_container {
    max-height: 220px;
    min-height: 220px;
}

.league_summary {
    max-height: 132px;
    min-height: 132px;
    width: auto
}

.padded {
    margin-left: 15px;
    margin-top: 20px;
    font-size: 1.25em;
    min-height: 100px;
    max-height: 100px;
}

.hidden_div_link {
    position: relative;
    margin: 0px;
}

.hidden_div_link span {
    width:100%;
    min-height: 125px;
    position:absolute;
    z-index:2;
    top:0px;
    left:0px;
}

.hidden_div_link input {
    width:100%;
    min-height: 50px;
    position:absolute;
    z-index:2;
    top:0px;
    left:0px;
    opacity: 0;
}

.games .hidden_div_link input {
    min-height: 100px;
}

 #league_header span {
    float: left;
    text-decoration: underline;
 }

 
 form.sign_in_form.new_league {
    width: 500px;
   /* height: 500px; */
 }
 
 form.sign_in_form input {
    float: right;
    margin: 0px;
 }
 
 form.sign_in_form div{
    margin: 10px 0px;
    padding: 10px 0px;
 }
 
 /* League Standings */
 
 /* Bet Page */
 div .container {
    background-color: #F4F0EC; /*isabelline*/
 }
 
 #index {
    max-width: 350px;
    min-width: 350px;
    min-height: 614px;
    max-height: 614px;
    position: absolute;  top: 140px;  left: 25px;
    border-width: 1px;
    margin: 5px;
 }
 
 #list {
    margin: 5px;
    max-width: 350px;
    min-width: 350px;
    min-height: 614px;
    max-height: 614px;
    position: absolute;  top: 140px;  left: 390px;
    border-width: 1px;    
 }
 
 #list .open_bet {
    min-height: 50px;
    max-height: 50px;
    min-width: 310px;
    max-width: 310px;
    color: #FFF;
    background-color: rgb(0, 112, 255);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font-size: 1em;
}

#list .bet_top {
    max-height: 20px;
    min-height: 20px;
}
 
 #stats {
    margin: 5px;
    max-width: 540px;
    min-width: 540px;
    min-height: 200px;
    max-height: 200px;
    position: absolute;  top: 140px;  left: 755px;
    border-width: 1px;    
 }
 
 #graph {
    margin: 5px;
    max-width: 540px;
    min-width: 540px;
    min-height: 399px;
    max-height: 399px;
    position: absolute;  top: 355px;  left: 755px;
    border-width: 1px;      
 }
 
 #graph_container {
    width: 520px;
    height: 389px;
 }
 
 #index ul {
    list-style-type: none;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
 }
 
 [data-selected_user="yes"] {
    border-width: 3px;
    border-color: #00008B;
 }
 
[data-selected_user="yes"] #game_info {
    border-width: 3px;
    border-color: #00008B;
 }
 
 #list .Progress {
    
    background-color: #FFDF00 !important;  /*Golden Yellow*/
    color: #111;
    border-width: 4px !important;
    
 }
 
 #list .true.Progress {
    border-color: rgb(0, 127, 0);
 }
 
 #list .false.Progress {
    border-color: rgb( 255, 0, 0 );
 }
 
 #stats .content {
    font-size: large;
    margin: 10px;
    margin-left: 0px;
    min-height: 135px;
    max-height: 135px;
    overflow: hidden;
 }
 
 #stats .content p {
    margin: 20px;
    margin-top: 0px;
 }
 
 #league_header img {
    margin: 0px 0px 0px 10px;
    float: left;
 }
 
 #league_header nav {
    margin: 0px;
    margin-right: 10px;
    padding: 0px;
 }
 
 #league_header div.left {
    margin: 0px;
 }
 
 #league_header .hidden_div_link span {
    min-height: 43px;
 }
 
 #league_header .hidden_div_link a {
    margin: 0px;
 }
 
 #index .Progress {
    background-color: #08F;
    color: #FFF;
 }
 
 #index .Final {
    background-color: #999;
 }
 
 #league_users_container {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 560px;
 }
 
 #sign_in_actions p {
    float: left;
    margin-right: 45px;
 }
 
 #sign_in_actions input {
    float: left;
}

.credit_button {
    min-height: 95px;
    min-width: 159px;
    float: left;
    margin: 2px 5px;
}

.no_bullet {
    list-style-type: none;
}

.user_admin_container {
    min-height: 60px;
    max-height: 60px;
    font-size: large;
}

.small_margin {
    margin: 5px 10px;
}

#user_stub {
    min-width: 250px;
    max-width: 250px;
}

.small_container {
    min-width: 60px;
    max-width: 60px;
    margin-left: 40px;
}

/* Admin Page */
#admin_container {
    min-width: 640px;
    max-width: 640px;
    min-height: 620px;
    max-height: 620px;
    background-color: #F4F0EC;
    margin-left: 300px;
}

#admin_container li {

}

#admin_container ul {
    padding-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    overflow-y: scroll;
    height: 470px;
}

#admin_container h3 {
    margin-bottom: 0px;
}

#admin_container pre {
    margin-bottom: 0px;
	margin-top: 10px;
}

#admin_container p {
    margin: 0px 0px;
    padding: 0px 12px;
}

#admin_container input {
    margin: 0px 11px;
}

#admin_container span {
    margin-top: 16px;
    margin-left: 25px;
    float: left
}

#remove_user input {
    margin-top: 25px;
}

#edit_delete_container {
	border-top: 1px solid #555555;
	height: 80px;
}

#admin_container input.button {
	height: 50px;
	width: 200px;
	margin: 20px 50px;
	font-size: large;
}

/*---------------------------*/

#user_options pre {
    background-color: #F55;
    font-size: medium;
    font-family: Times, serif;
    color: #000;
    padding: 20px;
    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

.super_user_container {
    min-height: 668px;
    max-height: 668px;
    min-width: 628px;
    max-width: 628px;
}

#settings_container {
    height: 70px;
}

#settings_container p {
    margin: .75em 1.5em;
    font-size: large;
}

.super_user_container .padded {
    min-height: 110px;
    margin-top: 10px;
}

.super_user_container #users_container {
    height: 490px;
    overflow: scroll;
}

.super_user_container #users_container .padded{
    min-width: 155px;
    max-width: 155px;
    margin-left: 0px;   
}

.super_user_container #users_container .padded.short{
    min-width: 75px;
    max-width: 75px;
}

.super_user_container #users_container p {
    font-size: large;
    margin: 1.05em .5em;
}

.vertical_divider {
    float: left;
    border-left: solid 1px #000;
    height: 70px;
    width: 1px;
}

.centered {
    text-align: center;
}

.underlined {
    border-bottom: 1px solid #111;
    padding: 5px 0px;
}

#week_list_container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 565px;
    margin: 5px;
}
.week_button {
    width: 380px;
    height: 60px;
    font-size: large;
}

.no_bottom_margin {
    margin-bottom: 0px;
}

.top_margin {
    margin-top: .8em;
}

.matchup {
    width: 390px;
    height: 60px;
    font-size: large;
    background-color: #FFBF00;
}

.league_container pre {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0;
}

.selected {
    border-style: inset !important;
}

#lock_container {
    height: 43px;
    width: 330px;
    font-size: 14px;
}

#lock_container p {
    margin: 0;
}

.button {
	text-align: center;
	cursor: default;
	border: 2px outset buttonface;
}

.button:hover {
	background-color: #FFD700;	
}

.button:active {
    border-style: inset;
}
