<div class="bet_top">
  <ul>
    <li class="list_left"><%= team %></li>
    <li class="list_right"><%= number %></li>
    <li class="list_right"><pre>:</pre></li>     
    <li class="list_right"><%= bet.bet_type.capitalize %></li>
  </ul>
</div>
