<footer>
	<div class='large_container'>
  <nav class="round">
    <ul>
      <li><%= mail_to 'fsb.adm.eph@gmail.com',
                      'Contact Us',
                      :encode => :javascript,
                      :subject => '#{current_user.name} - FSB' %>
      </li>
    </ul>
  </nav>
	</div>
</footer>
