<ul id="league_standings_list">
  <% ordered_memberships = league.memberships.sort { |a,b| a.credits.current.to_f <=> b.credits.current.to_f } %>
  <% ordered_memberships.reverse! %>
  <% ordered_memberships.each do |m| %>
    <% m.user.id == @user.id ? selected_user = "yes" : selected_user = "no" %>
    <li class="round" data-selected_user=<%= selected_user %> data-user_id=<%=m.user.id%> >
    <div class="hidden_div_link">
      <%= submit_tag "", :id=>"update_bets_for_user", "data-user"=>"#{m.user.id}" %>
    </div>
      <%= image_tag m.user.photo.url(:thumb) %>
      <pre><%= sprintf("%-15s %8d", m.user.name,  m.credits.current) %> </pre>
    </li>
  <% end %>
</ul>