<% lock_class = lock.get_css_color %>
<div class='<%= lock_class %> round centered' id="lock_container">
  <p><%= "#{lock.team_names}" %></p>
  <p><%= "#{lock.bet_type} -- #{lock.bet_value}" %></p>
</div>
