<container id='parlay_container' >
	<div id='parlay_header' class='parlay_header'>
		<div class='left' id='parlay_display'>
			1 Way Parlay
		</div>
		<div class='right' id='parlay_win'>
			To Win
		</div>
		<div class='right' id='parlay_risk'>
			Risk
		</div>
	</div>
	<div class='parlay_bets'>
	</div>
	<div class='parlay_header'>
		<div>
			---------------------- End of Parlay ----------------------
		</div>	
	</div>
</div>
